*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
.main-container{
    background-color: rgba(0, 0, 0, 0.92);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
   
}

.center-container{
    padding: 30px;
    color: rgb(22, 22, 23);
    background-color: rgb(131, 181, 238);
    min-height:5rem;
    min-width: 30rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
   
}
button{
    font-size: 1.25rem;
    background-color: rgb(243, 237, 237);
    color: rgb(16, 15, 15);
    height: 100px;
    width: 100px;
    padding: 5px 15px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: black;
    color: whitesmoke;
}
#duration{
    font-size: 2.5rem;
}

#time{
    font-size: 3rem;
}
#laps{
list-style: none;
font-size: 1.6rem;
}
.control-buttons{
    display: flex;
    gap: 1rem;
}
.lap-title{
    font-size: 1.2rem;
    color: white;
    text-align: center;
    margin: 20px 0 15px;
}
.lapItem{
    background-color: rgb(11, 11, 11);
    padding: 8px;
    text-align: center;
    width: 20rem;
    border-radius: 10px;
    margin-bottom: 5px;
}
.red-btn{
    background-color: red;
}


@media (max-width: 700px) {
    .center-container{
        min-width: 28rem
    }
    
}
h1{
    font-size: 4rem;
    color: rgb(228, 152, 12);
    margin-bottom: 10px;
}